body
{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(237, 237, 237);
}

p,h1,h2,h3,h4,h5
{
    margin: 0%;
    letter-spacing: 0.3px;
}

#container
{
    width: 80%;
    margin: auto;
}

#container>h2
{
    margin-bottom: 20px;
    font-weight: 600;
}

#sec1
{
    display: flex;
    width: auto;
    height: auto;
    padding: 15px 10px 15px 10px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 3px;
    align-items: center;
}
#sec1>div>h5
{
    font-size: 12px;
    font-weight: 600;
}

#sec1>div>p
{
    font-size: 12px;
    color: rgb(116, 116, 116);
}

/* .icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 60px;
} */

.icon>i
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 60px;
}
.lsec
{
    padding: 15px 15px 15px 10px;
    display: flex;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 3px;
}
.lsec:nth-child(1)>div>h5
{
    font-size: 12px;
    font-weight: 600;
    color: rgb(99, 99, 99);
}

.lsec:nth-child(1)>div>h4+h5
{
    color: blueviolet;
}

.lsec:nth-child(1)>div>h4
{
    font-weight: 400;
    font-size: 15px;
}

#userdetails>h5
{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}

.green
{
    display: flex;
    align-items: center;
    color: green;
    margin-bottom: 10px;
}
.green>i
{
    margin-right: 5px;
}
.green>h5
{
    
    margin: 0%;
    margin-right: 20px;
    font-size: 12px;
    font-weight: 300;
}

#form1
{
    font-size: 14px;
    font-weight: 500;
    color: rgb(99, 99, 99)
}

#namesec
{
    display: flex;
}
#namesec>div
{
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
}

input
{
    border-radius: 3px;
    width: 150px;
    height: 30px;
    padding-left: 10px;
    border: 0ch;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#tele>input
{
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 48%;
    border: 0ch;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#tele>select
{
    border-radius: 3px;
    width: 100px;
    height: 30px;
    padding-left: 10px;
    background-color: rgb(231, 231, 231);
    margin-right: 20px;
    border: 0ch;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.checkbox
{
    margin-top: 10px;
    display: flex;
    font-size: 12px;
    background-color: rgb(238, 244, 228);
    padding: 20px;
    border-radius: 5px;
}
.checkbox>input
{
    margin-left: 0px;
    width: auto;
    height: auto;
}
.checkbox>a
{
    text-decoration: none;
    font-size: 12px;
    margin: 0%;
    font-weight: 300;
    color: rgb(0, 91, 248);
}

.checkbox>div
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.checkbox>div>div
{
    text-align: right;
}

#quote
{
    font-size: 12px;
    font-weight: 400;
    margin-top: 20px;
    font-style: italic;
    margin-bottom: 20px;
}

#payment-type
{
    display: flex;
}

#payment-type>h5
{
    margin-right: 10px;
    margin-bottom: 10px;
}

#payment-type>h5>a
{
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(0, 91, 248);
}

#payment-type>h5>a:hover
{
    color: black;
    background-color: rgb(237, 237, 237);
    padding: 10px;
}

#payment-type+div>img
{
    height: 20px;
    width: auto;
    margin-bottom: 10px;
}
#carddetails>#cardname
{
    width: 400px;
}

#carddetails>#cardnum
{
    width: 200px;
}

#carddetails>#expiry
{
    width: 100px;
}

#carddetails>label
{
    font-size: 14px;
    font-weight: 500;
    color: rgb(99, 99, 99)
}

#carddetails>input
{
    margin-top: 5px;
    margin-bottom: 15px;
}


#carddetails>.checkbox
{
    margin-bottom: 20px;
}

#lastsec
{
    padding: 20px;
    background-color: white;
    border-radius: 3px;
}

#lastsec>p
{
    font-size: 12px;
    margin-bottom: 20px;
}

button
{
    margin-top: 10px;
    padding: 20px;
    width: 200px;
    border: 0ch;
    border-radius: 3px;
    background-color: rgb(214, 0, 96);
    font-size: 18px;
    margin-bottom: 15px;
    color: white;

}

button:hover
{
    background-color:rgb(255, 0, 115) ;
    cursor: pointer;
}

#lastlock
{
    display: flex;
    font-size: 12px;
    color:rgb(99, 99, 99);
    font-weight: 300;

}

#lastlock>div>p
{
    margin-bottom: 15px;
}

#shield-h
{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#shield-h>h3
{
    margin-right: 10px;
    font-weight: 600;
}

#shield-h>h5
{
    background-color: green;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-weight: 500;
}
#shield-h+h5,#shield-h+h5+h5
{
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 5px;
}

li
{
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 5px;
    color: rgb(99, 99, 99);
}

#left
{
    width: 65%;
    margin-right: 10px;
}

#mid
{
    display: flex;
}

#right
{
    width: 35%;
    display: block;
    /* display: grid;
    grid-template-columns: (1,1fr); */
    /* border: 1px solid red; */
    
}
.card
{
    height: 400px;
    background-color: white;
    border-radius: 3px;
    position: relative;
    margin-bottom: 10px;
    border-radius: 3px;
    
}

.cardimg>img
{
    width: auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.cardcont
{
    padding: 15px;
    font-weight: 300;
    font-size: 12px;
}
.cardcont>h4
{
    margin-bottom: 10px;
}

.cardcont>h4+p
{
    margin-bottom: 10px;
}

.cardcont>p:nth-child(4)
{
    margin-bottom: 10px;
}

.cardimg
{
    position: relative;
}

.cardimg>h5
{
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
}
.price
{
    display: flex;
    justify-content: space-between;
}
#amount
{
    padding: 15px;
    background-color: white;
}
#amount>h3
{
    font-weight: 600;
}

#amount>div
{
    font-size: 12px;
    margin-bottom: 10px;
}

.complete
{
    background-color: white;
    padding: 30px;
    width: 50%;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 30px;
}
.navbar
{
    background-color: darkslategrey;
    padding: 10px;
    border-top: 3px solid skyblue;

}
.navsec
{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.navsec>p
{
    color: skyblue;
    font-size: 12px;
}

#signin
{
    text-decoration: none;
    color: skyblue;
    font-size: 12px;
}